/* Welcome to style.css, in this file I place all css code for my website */

/*Reset all padding/margin values, also show boxes for debugging */
* {
 
  margin: 0;
  padding: 0;
  /* Making content inside the boxes auto sized*/
  /*box-sizing: border-box;*/
}

nav {
  background-color: Maroon;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
}

a{
  color: #FFFFFF;
  display: inline-block;
  font-family: 'Unica One', cursive;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  /*Cant think of a way to make this scale currently*/
  padding: 14px 40px;
  margin: 5px 0.5px;
}

a:hover {
  background-color: #FFFFFF;
  color: Maroon;
}

.active {
  /*Darker maroon color*/
    background-color: #600000;
}

.content{
   /*border: 1px solid rgba(0,0,0,1);  */
  margin: 0 auto; 
  margin-top: 150px;
  width:30%;
  text-align: center;
  background-color: rgba(100, 100, 100, 0.9);
  padding: 40px;
}

h1.title{
  font-family: 'Unica One', cursive;
  font-size: 4em;
  text-transform: uppercase;
  color: maroon;
}

img.logo{
  width: 80%;
  height: 80%; 
  display: block;
  margin: 0px auto;
  border-radius: 100%;
}

p{
  font-family: 'Vollkorn', serif;
  font-size: 1.2em;
  color: white;
}

body{
  background-image: url("../images/homebackgroundlandscape.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}