/* Welcome to index.html, in this file I place all html code for my website */

/*Reset all padding/margin values, also show boxes for debugging */
* {
  border: 1px solid rgba(255, 255, 255, 255, .3);
  margin: 0;
  padding: 0;
}

h1{
	color: FireBrick;
}

p, ul{
	color: Aqua;
	font-size: 10px;
}

li {
  display: inline;
}